# Local Development
PORT=5000
MONGO_URI=mongodb://127.0.0.1:27017/levora
NODE_ENV=development
CLIENT_URL=http://localhost:5000

# Production (on Render)
# PORT=5000 (auto-set by Render)
# MONGO_URI=mongodb+srv://ileshpatel666_db_user:GJs2lcGelHXB9ee0@levora.nwwavtx.mongodb.net/levora?retryWrites=true&w=majority
# NODE_ENV=production
# CLIENT_URL=https://levora.onrender.com
